// https://github.com/vuetifyjs/vuetify/blob/11aa33d4df52de613e5082f451455fde338defa8/packages/docs/src/pages/en/features/sass-variables.md
$primary-background-color: #32292f;
$primary-text-color: #f1f7ed;
$secondary-background-color: #3c6e71;
$primary-color: #20bf55;
$accent-color: #e65f5c;
$fulvous: #e98a15;
